
/* ----------------------------- */
/* Button themes mixins */
// Use mixins to style the component
@mixin button-style($color-bg, $color-bg-hover, $color-text: $color-white) {
    background-color: $color-bg;
    color: $color-text;
    border-color: $color-bg-hover;

    &:hover {
        background-color: $color-bg-hover;
        color: $color-text;
    }
}

@mixin button-delete-style($color-bg, $color-bg-hover, $color-bg-action: $color-button-action) {
    background-color: $color-bg;
    color: $color-bg-hover;

    &:hover {
        background-color: $color-button-delete;
        color: $color-white;
    }

    &:active {
        background: $color-bg-action;
    }
}
/* ----------------------------- */

/* ----------------------------- */
/* MEDIA QUERY MANAGER */
/*
0 - 600px:       Phone
600 - 900px:     Tablet portrait
900 - 1200px:    Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :       Big desktop

$breakpoint argument choices:
- phone
- tab-port
- tab-land
= big-desktop

ORDER: Base + typography > general layout + grid > page layout > components

1em = 16px
450/16
600/16
900/16
1200/16
1800/16
*/

@mixin respond($breakpoint) {
    @if $breakpoint == small-screen {
        @media only screen and (max-width: 28.12em) { @content };       // 450px
    }
    
    @if $breakpoint == phone {
        @media only screen and (max-width: 37.5em) { @content };        // 600px
    }

    @if $breakpoint == tab-port {
        @media only screen and (max-width: 56.25em) { @content };       // 900px
    }

    @if $breakpoint == tab-land {
        @media only screen and (max-width: 75em) { @content };          // 1200px
    }

    @if $breakpoint == big-desktop {
        @media only screen and (min-width: 112.5em) { @content };       // 1800px
    }
}